<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<p></p>
<h3>請輸入您的實習日誌</h3>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="fillPage">使用者管理</a></li>
    <li class="breadcrumb-item"><a href="writeArticle">新增實習系統 </a></li>

  </ol>

</nav>
<div class="container">

  <div class="row">
    <div class="col-3">

      <!-- selection 選單-->



      <select [(ngModel)]="selectedOptions" (ngModelChange)="onValueChanged($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option [ngValue]="undefined" >請選擇您的姓名</option>
        <option *ngFor="let data of lists" [ngValue]="data.id">{{data.name}}</option>
      </select>
<br>
      <h5>請選擇您的年份</h5>
      <select [(ngModel)]="year" (ngModelChange)="year_change($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option [ngValue]="undefined" >年份</option>
        <option *ngFor="let year of year_list" [ngValue]="year">{{year}}</option>


      </select>


      <h5>請選擇您的月份</h5>
      <select [(ngModel)]="month" (ngModelChange)="month_change($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option [ngValue]="undefined" >月份</option>
        <option *ngFor="let month of month_lists" [ngValue]="month">{{month}}</option>


      </select>
      <h5>請選擇您的日期</h5>
      <select [(ngModel)]="day" (ngModelChange)="month_change($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option [ngValue]="undefined" >日期 </option>
        <option *ngFor="let day of day_list" [ngValue]="day">{{day}}</option>
      </select>



    </div>
    <div class="col-9">
      <div class="row">
        <!--文章輸入-->

        <form>
        <div class="form-outline">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"


          placeholder="請輸入您的標題"
          type="text"
          name="name"
          [(ngModel)]="caption"

          ></textarea>
          <br>
          <textarea
            class="form-control"
            id="textAreaExample"
            rows="15"
            placeholder="請輸入300字內的心得"
            type="text"
            name="name"
            [(ngModel)]="article"
          ></textarea>
          <label class="form-label" for="textAreaExample"></label>

          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-success" (click)="insertArticle()">繳交文章</button>

        </div>
        </div>
      </form>






        <!--檔案輸入-->
        <div>
          <label for="formFileLg" class="form-label"
            >    <h4>請選擇檔案</h4></label
          >

          <input
            class="form-control form-control-lg"
            id="formFileLg"
            type="file"
          />
          <div class="col-md-12 text-center">
            <p></p>
            <button type="button" class="btn btn-success">繳交檔案</button>

        </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>










