<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-nav-bar></app-nav-bar>
    <app-banner></app-banner>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">實習生系統首頁 </a></li>
        <li class="breadcrumb-item"><a href="#">使用者管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">文章管理系統</li>
      </ol>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <p></p>
          <h4>選擇想觀看的學生姓名</h4>
          <select
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example"
          >
            <option selected>學生姓名</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

          <P></P>

          <div>
            <h4>使用的技術與工具比例</h4>
            <h5>JAVA 10%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                aria-label="Default striped example"
                style="width: 10%"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <h5>C# 25%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                aria-label="Success striped example"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <h5>MySQL 50%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-info"
                role="progressbar"
                aria-label="Info striped example"
                style="width: 50%"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <h5>python 75%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-label="Warning striped example"
                style="width: 75%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <p></p>
          <div>
            <h4>總共文章數量</h4>
            <h3>6篇</h3>
          </div>
        </div>
        <div class="col-9">
          <div class="row g-3">
            <div class="col-4">
              <div class="card">
                <img
                  src="https://picsum.photos/300/200/?random=10"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">學習ＳＱＬ</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">查看此文章</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img
                  src="https://picsum.photos/300/200/?random=10"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">學習Angular</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">查看此文章</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img
                  src="https://picsum.photos/300/200/?random=10"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">學習後端框架</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">查看此文章</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img
                  src="https://picsum.photos/300/200/?random=10"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">學習串接API</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">查看此文章</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img
                  src="https://picsum.photos/300/200/?random=10"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">學習測試API</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">查看此文章</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img
                  src="https://picsum.photos/300/200/?random=10"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">學習使用POST MAN</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">查看此文章</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </body>
</html>
