<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-nav-bar></app-nav-bar>
    <app-banner></app-banner>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">實習生系統首頁 </a></li>
        <li class="breadcrumb-item"><a href="#">使用者管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">文章管理系統</li>
      </ol>

    </nav>

    <!--------------------------- 側邊欄位開始---------------------------------------->
    <div class="container">
      <div class="row">
        <div class="col-3">
          <p></p>
          <h4>選擇想觀看的學生姓名</h4>

          <select [(ngModel)]="selectedOptions" (ngModelChange)="onValueChanged($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option [ngValue]="undefined" >請選擇您的姓名</option>
            <option *ngFor="let data of lists" [ngValue]="data.id">{{data.name}}</option>
          </select>

          <P></P>


          <!--使用的欄位-->
          <div>
            <h4>使用的技術與工具比例</h4>
            <h5>JAVA 10%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                aria-label="Default striped example"
                style="width: 10%"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <h5>C# 25%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                aria-label="Success striped example"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <h5>MySQL 50%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-info"
                role="progressbar"
                aria-label="Info striped example"
                style="width: 50%"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <h5>python 75%</h5>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-label="Warning striped example"
                style="width: 75%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <p></p>

          <!--文章數量統計區塊-->
          <div>
            <h4>總共文章數量</h4>
            <h3>{{article_number}}</h3>
          </div>

        </div>
    <!--------------------------- 側邊欄位結束---------------------------------------->

        <!--------------------------------中心欄位開始----------------------------------->
        <!--根據文章數量產生卡片-->
        <div class="col-9">
          <div class="row g-3">
            <ng-container *ngFor="let article of spe_aticle_list; let i = index">
              <div class="col-4">
                <div class="card">
                  <img
                    src="https://picsum.photos/300/200/?random=10"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{article}}</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make
                      up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary"  (click)="button_test(article)">查看此文章</a>
                  </div>
                </div>
              </div>
            </ng-container>


          </div>
        </div>
      </div>
    </div>
    <p></p>
   <!--------------------------------中心欄位結束----------------------------------->
   <!--------------------------------下方欄位開始----------------------------------->

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
<br>
<!--文章內容區塊-->

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="col-md-12 text-center">
        <h3>此篇文章的內容</h3>
      </div>
            <div class="form-outline">
              <textarea
                class="form-control"
                id="textAreaExample"
                rows="15"
                placeholder="請於卡片選擇你要預覽的文章"
                type="text"
                name="name"

              >{{choose_article}}</textarea>

            </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>



<!-- 文章列表-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">順序</th>
          <th scope="col">文章</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let article of spe_aticle_list; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ article}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
   <!--------------------------------下方欄位結束----------------------------------->


  </body>
</html>
