<!--引入banner component -->
<app-banner></app-banner>

<div class="row" style="margin-top: 30px">
  <div class="col-md-6" style="border-right: 1px solid #ddd">
    <div class="well col-md-10">
      <h3>使用者登入</h3>
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon1"
          ><i class="glyphicon glyphicon-user" aria-hidden="true"></i
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="使用者名稱"
          aria-describedby="sizing-addon1"
        />
      </div>
      <div class="input-group input-group-md">
        <span class="input-group-addon" id="sizing-addon1"
          ><i class="glyphicon glyphicon-lock"></i
        ></span>
        <input
          type="password"
          class="form-control"
          placeholder="密碼"
          aria-describedby="sizing-addon1"
        />
      </div>
      <div class="well well-sm" style="text-align: center">
        <input type="radio" name="kind" value="tea" /> 老師
        <input type="radio" name="kind" value="stu" /> 學生
      </div>
      <button
        type="submit"
        class="btn btn-success btn-block"
        routerLink="/fillPage"
      >
        登入
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <h3>歡迎使用學生作業管理系統</h3>
    <ul>
      <li>
        學生使用<em>學號</em>登入，初始密碼為<em>6個1</em>，登入後請及時修改密碼
      </li>
      <li>
        老師請使用<em>工號</em>登入，初始密碼為<em>6個1</em>，登入後請及時修改密碼
      </li>
    </ul>
  </div>
</div>
